<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1CfU-4iNAkfTveDKopvzU3GZg_ussZjw</string>
	<key>GCM_SENDER_ID</key>
	<string>961118359709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.Froth</string>
	<key>PROJECT_ID</key>
	<string>alpha-5454b</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-5454b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961118359709:ios:8de3ba06cd0c1cbcd84474</string>
</dict>
</plist>